.login {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/loginBG.jpg");
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: inherit;
    filter: blur(2px);
    z-index: 1;
  }
  .content {
    z-index: 2;
    .sloganImg{ width: 100%}
    .formContent{ width: 86%; margin: 0 auto;
      .mat-form-field{ display: block;}
    }
  }
}

mat-form-field{ color: #fff}

