/* You can add global styles to this file, and also import other style files */

@import '../node_modules/normalize.css/normalize.css';


@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-amber);
$candy-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

// Define other theme.
$cyan-cyan-primary: mat-palette($mat-cyan);
$cyan-cyan-accent:  mat-palette($mat-cyan, A200, A100, A400);
$cyan-cyan-warn:    mat-palette($mat-deep-orange);
$cyan-cyan-theme:   mat-dark-theme($cyan-cyan-primary, $cyan-cyan-accent, $cyan-cyan-warn);
.cyan-cyan-theme {
  @include angular-material-theme($cyan-cyan-theme);
}

// Define other theme.
$pink-pink-primary: mat-palette($mat-pink);
$pink-pink-accent:  mat-palette($mat-pink, A200, A100, A400);
$pink-pink-warn:    mat-palette($mat-deep-orange);
$pink-pink-theme:   mat-dark-theme($pink-pink-primary, $pink-pink-accent, $pink-pink-warn);
.pink-pink-theme {
  @include angular-material-theme($pink-pink-theme);
}







html, body {
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFFFFF!important;
  font-size: 1.4rem;
  color: #1b1b1b!important;
}
.bgImg {
  //background-image: url("../../../assets/images/loginBG.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.borderBox{
  box-sizing: border-box;
}

